.div {
  display: block;
  height: 100%;
  width: 100%;
}

.button {
  padding: 15px;
  background-color: #fff;
  color: black;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  width: 100%;
  font-weight: 600;
  font-size: 14px;
  font-family: ui-monospace, "Roboto Mono", "Liberation Mono",
    "DejaVu Sans Mono", "Courier New", monospace;
}

.buttonContainer {
  padding: 2px;
  width: 100%;
  position: relative;
}

.buttonContainer ::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 3px solid rgb(175, 230, 255);
  animation: clippath 10s infinite linear;
  border-radius: 10px;
}

@keyframes clippath {
  0%,
  100% {
    clip-path: inset(0 0 95% 0);
  }
  25% {
    clip-path: inset(0 95% 0 0);
  }
  50% {
    clip-path: inset(95% 0 0 0);
  }
  75% {
    clip-path: inset(0 0 0 95%);
  }
}

.iconSpan {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  width: 55px;
  padding: 15px;
  border-radius: 50%;
  border: 2px solid #fff;
  transition: background-color 0.8s ease-in-out;
}

.iconSpan:hover {
  background-color: #05e5ad;
}
